<div ng-controller="LocalStorageCtrl">

    <div content-for="title">
        <span>{{ stringForTitle }}</span>
    </div>

    <div content-for="navbarAction">
        <div class="btn btn-navbar">
            <i class="fa fa-plus"></i>{{ stringForRightButton }}
        </div>
    </div>

    <div class="scrollable">
        <div class="scrollable-content">


            <div class="btn-group justified nav-tabs">
                <a class="btn btn-default"
                   target="localStorage_actions"
                   toggle="on"
                   ng-click="enableTab_Actions()"
                   active-class="active">Actions
                </a>

                <a class="btn btn-default"
                   target="localStorage_list"
                   toggle="on"
                   ng-click="enableTab_List()"
                   active-class="active">List
                </a>

                <a class="btn btn-default"
                   target="localStorage_edit"
                   toggle="on"
                   ng-click="enableTab_Edit()"
                   active-class="active">Edit
                </a>

                <a class="btn btn-default"
                   target="localStorage_perf"
                   toggle="on"
                   ng-click="enableTab_Perf()"
                   active-class="active">Perf
                </a>

                <a class="btn btn-default"
                   target="localStorage_image"
                   toggle="on"
                   ng-click="enableTab_Image()"
                   active-class="active">Image
                </a>

                <a class="btn btn-default"
                   target="localStorage_list2"
                   toggle="on"
                   ng-click="enableTab_List2()"
                   active-class="active">List2
                </a>

            </div>

            <!--<ul class="nav nav-tabs">-->
                <!--<li ng-class="{active: tab == 1}">-->
                    <!--<a ng-click="enableTab_Actions()">Actions</a>-->
                <!--</li>-->

                <!--<li ng-class="{active: tab == 2}">-->
                    <!--<a ng-click="enableTab_List()">List</a>-->
                <!--</li>-->

                <!--<li ng-class="{active: tab == 3}">-->
                    <!--<a ng-click="enableTab_Edit()">Edit</a>-->
                <!--</li>-->

                <!--<li ng-class="{active: tab == 4}">-->
                    <!--<a ng-click="enableTab_Perf()">Perf</a>-->
                <!--</li>-->

                <!--<li ng-class="{active: tab == 5}">-->
                    <!--<a ng-click="enableTab_Image()">Image</a>-->
                <!--</li>-->

                <!--<li ng-class="{active: tab == 6}">-->
                    <!--<a ng-click="enableTab_List2()">List2</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li ng-class="{active: tab == 1}"><a ng-click="enableTab_Actions()">Actions</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-class="{active: tab == 2}"><a ng-click="tab = 2">List</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-class="{active: tab == 3}"><a ng-click="tab = 3">Edit</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-class="{active: tab == 4}"><a ng-click="tab = 4">Perf</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-class="{active: tab == 5}"><a ng-click="tab = 5">Image</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-class="{active: tab == 6}"><a ng-click="tab = 6">List2</a></li>&ndash;&gt;-->

                <!--&lt;!&ndash;<li><a href="#/indexedDb/#Tab3" toggle="on" parent-active-class="active">Tab 3</a></li>&ndash;&gt;-->
            <!--</ul>-->

            <div class="tab-content">

                <div class="tab-pane"
                     toggleable
                     ng-class="{active: tab == 1}"
                     default="active"
                     id="localStorage_actions"
                     exclusion-group="myTabs">

                    <div ng-include src='"localStorage_actions.html"'></div>

                </div>

                <div class="tab-pane"
                     toggleable
                     ng-class="{active: tab == 2}"
                     id="localStorage_list"
                     exclusion-group="myTabs">

                    <div ng-include src='"localStorage_list.html"'></div>

                </div>

                <div class="tab-pane"
                     toggleable
                     ng-class="{active: tab == 3}"
                     id="localStorage_edit"
                     exclusion-group="myTabs">

                    <div ng-include src='"localStorage_edit.html"'></div>
                </div>


                <div class="tab-pane"
                     toggleable
                     ng-class="{active: tab == 4}"
                     id="localStorage_perf"
                     exclusion-group="myTabs">

                    <div ng-include src='"localStorage_perf.html"'></div>


                </div>

                <div class="tab-pane"
                     toggleable
                     ng-class="{active: tab == 5}"
                     id="localStorage_image"
                     exclusion-group="myTabs">

                    <div ng-include src='"localStorage_image.html"'></div>

                </div>

                <div class="tab-pane"
                     toggleable
                     ng-class="{active: tab == 6}"
                     id="localStorage_list2"
                     exclusion-group="myTabs">

                    <div ng-include src='"localStorage_list2.html"'></div>

                </div>
            </div>
        </div>
    </div>
</div>