<h3 class="page-header">Edit</h3>

<div class="list-group">
    <li class="list-group-item">{{ selectedSection.nameLong }}</li>


    <li ng-repeat="(key, value) in localStorage"
        class="list-group-item"
        href="#{{ section.id }}/{{ section.fileName }}/{{ section.controllerName }}">


        <div overlay="myOverlay">
            <h4 class="overlay-title">key: {{ myOverlayTitle }}</h4>

            value:{{ myOverlayText }}


            <p toggle="off" bubble target="myOverlay">
                <span class="btn btn-primary">Ok</span>
                <span class="btn btn-default">Cancel</span>
            </p>
        </div>

        <b>key:</b> {{ key }} <a class="btn btn-sm btn-primary" ng-click="showAlert(value)">alert
        value</a><a class="btn btn-sm btn-primary" ng-click="openOverlay(key,value)">open
        overlay</a><br>
        <input ng-model="value" type="text">


    </li>

    <b>key:</b> test<br>
    <input ng-model="lsTest" type="text">
</div>